<div class="feature-container">
  <div class="feature-title">花情報投稿機能</div>
  <ul class="feature-list">
    <li>ユーザーは、花の写真を撮影してアプリにアップロードできる。</li>
    <li>花の名前、説明、位置情報を投稿できる。</li>
    <li>位置情報は、Googleマップ上に表示される。</li>
    <li>投稿された花の情報は、他のユーザーに公開される。</li>
  </ul>
</div>
<div class="feature-container">
  <div class="feature-title">花情報閲覧機能</div>
  <ul class="feature-list">
    <li>ユーザーは、投稿された花の情報を一覧表示できる。</li>
    <li>投稿された花の情報を検索できる。</li>
    <li>投稿された花の情報を地図上で表示できる。</li>
  </ul>
</div>
<div class="feature-container">
  <div class="feature-title">コメント機能</div>
  <ul class="feature-list">
    <li>ユーザーは、投稿された花の情報にコメントを投稿できる。</li>
    <li>コメントは、他のユーザーにも表示される。</li>
  </ul>
</div>
<div class="feature-container">
  <div class="feature-title">いいね機能</div>
  <ul class="feature-list">
    <li>投稿にいいねすることができる。</li>
    <li>いいねはマイページで確認できます。</li>
  </ul>
</div>


