<main>
  <section>
    <h1>花の共有アプリ</h1>
    <p>このアプリは、あなたの街や公園で咲く美しい花々を共有するための革新的なアプリです！</p>
    <p>桜や紅葉、ひまわりやコスモスなどさまざまな花が開花するたびに、地域の人々が写真や情報をアップロードして、花の開花状況や花の名前を知ることができます。</p>
    <p>他にも写真から花を検索できるアプリがありますが、写真の角度や開花具合によっては間違った情報を提供される場合もあります。</p>
    <p>地図の情報を元に花の情報を登録するので、今いる道に咲いている花を検索することができます。</p>
    <p>SNSで映える写真を撮りたいけど、この場所の桜はもう満開になってる？今週か来週どっちに行けばいいのかわからない？</p>
    <p>小さい子供を持つ親御さんは、お子さんから花の名前を聞かれて困ったことはありませんか？そんな悩みも解決します。</p>
    <p>このアプリを使えば、あなたの街の花々について、地域の人々とつながり、交流することができます。</p>
  </section>
  <section>
    <!-- アプリの主な機能やデモ画像等 -->
  </section>
  <section>
    <!-- ユーザー登録やログインへのリンク -->
  </section>
</main>
