html {
  font-size: 80%;
  height: 200%;
}

body {
  height: 100%;
  font-family:  "ヒラギノ角ゴ ProN W3"
}

.header {
  background-color: #FFD4D4;
  height: 60px;
  font-size: 2rem;
  display: table;
  width: 100%;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-icon {
  margin: 10px 20px;
}

.content {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align:center;
  background-color: #FFFFE8;
  height: 100%;
  z-index: 0;
}

.form-control {
  width: 50%;
  padding: 10px;
  margin: 0 auto;
}

#map {
  margin: 0 auto;
}


.footer {
  background-color: #CDE990;
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: table;
  text-align: center;
}