html {
  font-size: 80%;
}

body {
  height: 100%;
  font-family:  "ヒラギノ角ゴ ProN W3";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
}

.header {
  background-color: #FFD4D4;
  height: 60px;
  font-size: 2rem;
  display: table;
  width: 100%;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header a {
  color: #FF6666;
  font-size: 14px;
}

.header a:hover {
  color: #FF8C8C;
}

.header-icon {
  margin: 10px 20px;
}

.header-center-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFA6A6;
  font-size: 1.3rem;
  text-decoration: none;
}

.content {
  padding-top: 60px;
  padding-bottom: 20px;
  text-align:center;
  background-color: #FFFFE8;
  z-index: 0;
  min-height: 100vh; 
}

.rounded-small-profile-image {
  border-radius: 50%;
  object-fit: cover;
  width: 40px !important;
  height: 40px !important;
}

.user-info {
  display: flex;
  flex-wrap: nowrap;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.user-info a {
  color: #333;
  text-decoration: none;
}

.user-info a:hover {
  color: #FF8C8C;
}

.submit-button {
  background-color: #FFA6A6;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #FF8B8B;
}

.form-control {
  width: 35%;
  padding: 10px;
  margin: 0 auto;
}

.search-button {
  background-color: #FFA6A6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.search-button:hover {
  background-color: #FF8B8B;
  text-decoration: none;
  color: white;
}

// .grid-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   gap: 16px;
//   grid-gap: 20px;
//   padding: 20px;
//   box-sizing: border-box;
// }

// /* 各画像コンテナ */
// .grid-item {
//   position: relative;
//   background-color: #fff;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//   border-radius: 5px;
//   overflow: hidden;
// }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 20px;
  box-sizing: border-box;

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-item {
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

/* 画像 */
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* 詳細情報 */
.image-info {
  padding: 15px;
}

/* 投稿者名 */
.image-info .user-name {
  font-weight: bold;
  margin-bottom: 10px;
}

/* 花の名前 */
.image-info .flower-name {
  font-size: 18px;
  margin-bottom: 5px;
}

/* 花の説明 */
.image-info .flower-description {
  font-size: 14px;
  color: #666;
}

.actions {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #eee;
}

/* 各アクションボタン */
.actions a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin: 10px;
}

/* アクションボタンのホバーエフェクト */
.actions a:hover {
  color: #007bff;
}

/* ページネーションスタイル */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination a, .pagination span {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  background-color: #f1f1f1;
}

.pagination .current {
  background-color: #007bff;
  color: #fff;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
}

#map {
  margin: 0 auto;
  height: 500px;
  width: 100%;
  max-width: 1500px;
}

@media (max-width: 767px) {
  .grid-item {
    width: 100%;
  }
}

.form-container {
  width: 35%;
  margin: 0 auto;
  background-color: #FFFFE8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.back-link {
  background-color: #FFA6A6;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-link:hover {
  background-color: #FF8B8B;
  text-decoration: none;
  color: white;
}

.detail-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh; 
}

/* 共通のスタイルを適用するために、.grid-itemを.detail-itemに変更 */
.detail-item {
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.comment-form .actions input[type="submit"] {
  background-color: #FFA6A6;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.comment-form .actions input[type="submit"]:hover {
  background-color: #FF8B8B;
  text-decoration: none;
  color: white;
}

.feature-container {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 25%;
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.feature-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-list {
  list-style-type: none;
  padding-left: 0;
}

.feature-list li {
  margin-bottom: 5px;
}

.custom-link {
  color: #FFA6A6;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.custom-link:hover {
  color: #FF8B8B;
  text-decoration: none;
}

.feature-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.feature-contenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.feature-wrapper h1,
.feature-wrapper h2 {
  color: #FFA6A6;
  text-align: center;
  font-family: Arial, sans-serif;
}

.feature-wrapper h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-wrapper h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.comment-content {
  display: flex;
  align-items: center;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.user-profile a {
  color: #333;
  text-decoration: none;
}

.user-profile a:hover {
  color: #FF8C8C;
}

.sign-in-container {
  background-color: #FFFFE8;
  min-height: 100vh; /* ブラウザの表示領域全体に広がるように設定 */
}

.footer {
  background-color: #CDE990;
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: table;
  text-align: center;
}

.footer-link {
  color: #4b4b4b;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.footer-link:hover {
  color: #4b4b4b;
  background-color: #A8C65B;
}